@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>CRUD simples de cadastro de vendedores e departamentos, usando .Net Core e Entity Framework Core com acesso banco MySQL.</p>
    <p>Foi aplicado conceitos de orientação a objetos usando arquitetura de softwares MVC e conceitos avançados de C#</p>
</div>
